*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrap{
  background-color: #f6f6f6;
  border: 2px solid #8fc1c9;
  border-radius: 2px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#editar{
  padding: 4px 16px;
  border: 1px solid black;
}
#editar:hover{
  background-color: #dadada;
}

#sair{
  background-color:  #fa3c3c;
  color: white;
  border: 1px solid black;
  padding: 4px 16px;
  cursor: pointer;
}
#sair:hover{
  background-color: #f02727;
}

@media (max-width: 709px){
  #wrap{
    flex-direction: column;
    text-align: center;
  }
}